:root {
    --background: #FAFCEE;
    --white: #FFFFFF;
    --green: #4F5F00;
    --olive-green: #C1C89F;
    --black: #363537;
    --blue: #22266D;
    --purple: #833288;
    --red: #BF2323;
    --orange: #CE8415;

    --font-title: 'Space Grotesk', sans-serif;  
    --font-family: 'Roboto Condensed', sans-serif;
}

/*Standaard CSS: algemeen*/
html{
    width: 390px;
    height: 844px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--background);
    position: relative;
    width: 390px;
    height: 844px;
    border-radius: 16px;
}

body#scanner{
    background-image: url(images/jerrycan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: var(--font-title);
    font-size: 32px;
    font-weight: 700;
    color: var(--green);
    margin: 0;
    margin-left: 16px;
}

h2 {
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 700;
    color: var(--green);
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit; 
}

/*Status bar*/
.status_bar {
    position: relative;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 20px;
    color: var(--black);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    display: flex;
}

.status_bar#white_bar {
    color: var(--white);
}

#status_bar_time {
    margin-left: 5%;
}

#status_bar_icons {
   width: 78%;
   height: 100%;    
   display: inline-flex;
}

#status_bar_icons > div {
    display: inline-block;
}

    /*images for icons*/
    #status_bar_connection {
        background-image: url(images/connection.png);
        margin-left: 70%;
    }

    #status_bar_wifi {
        background-image: url(images/wifi.png);
    }

    #status_bar_battery {
        background-image: url(images/battery.png);
        margin-left: 0;
    }

    #status_bar_connection_white {
        background-image: url(images/connection_white.png);
        margin-left: 70%;
    }

    #status_bar_wifi_white {
        background-image: url(images/wifi_white.png);
    }

    #status_bar_battery_white {
        background-image: url(images/battery_white.png);
        margin-left: 0;
    }

#status_bar_connection, #status_bar_wifi, #status_bar_battery, #status_bar_connection_white, #status_bar_wifi_white, #status_bar_battery_white {
    width: 30%;
    height: 100%;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

/*Logo*/
.ressurect_logo
{
  background-image : url(images/ressurect_logo.png);
  background-repeat : no-repeat;
  background-position: center;
  height: 100%;
}

/*Top bar with logo and with(out) search and/or notifications*/
.top_icons {
    width: 100%;
    margin-top: 14px;
    height: 65px;
    display: inline-flex;
}

#search_box {
    width: 115px;
    height: 100%;
    display: flex;
}

#search_icon {
    width: 115px;
    height: 65px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

#return_icon {
    width: 115px;
    height: 65px;
    background-image: url(images/return.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    margin-right: 50px;
}

#return_icon_white {
    width: 115px;
    height: 65px;
    background-image: url(images/return_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

#flash_icon_white {
    width: 115px;
    height: 65px;
    background-image: url(images/flash_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.ressurect_logo#logo_box {
    border-bottom: 3px solid var(--black);
}

#logo_box {
    width: 160px;
    height: 100%;
    background-size: contain;
}

#notifications_box {
    width: 115px;
    height: 100%;
    display: flex;
}

#notifications_icon {
    width: 115px;
    height: 65px;
    background-image: url(images/notification.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

#notifications_icon_white {
    width: 115px;
    height: 65px;
    background-image: url(images/notification_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

/*Class content contains all content boxes and dividers*/
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Content box including title and bannerimages*/
.content_box {
    width: 100%;
    height: 192px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;    
}

.banner_list {
    width: 358px;
    margin-left: 16px;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#load_more {
    background-image: url(images/load_more.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    width: 20px;
    height: 160px;
    position: absolute;
    right: 0;
    margin-top: 32px;
}

.project_banner {
    width: 100px;
    height: 133px;
    border-radius: 8px;
    background-color: var(--background);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

    /*projectbanner content*/
    .project_banner_image {
        width: 100%;
        height: 96px;
        border-radius: 8px 8px 0 0;
        background-size: cover;
        background-position: center;
    }

    #glassholder_image {
        background-image: url(images/glassholder.png);
    }

    #knifeholder_image {
        background-image: url(images/knifeholder.png);
    }

    #pencilcase_image {
        background-image: url(images/pencilcase.png);
    }

    .project_banner_title {
        font-family: var(--font-family);
        color: var(--black);
        font-size: 12px;
        font-weight: 500;
        margin-left: 4px;
        margin-top: 4px;
    }

    .project_banner_user {
        font-family: var(--font-family);
        color: var(--black);
        width: 100%;
        height: 17px;
        font-size: 10px;
        font-weight: 300;
        margin-left: 4px;
        display: flex;
        align-items: center;  
    }

    .project_banner_user_image {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }

    #Wolf {
        background-image: url(images/wolf.jpg);
    }

    .project_banner_user_name {
        margin-left: 4px;
        width: 83px;
    }

/*People box including name and profileimages*/
.people_box {
    width: 100%;
    height: 132px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;    
}

.people_list {
    width: 358px;
    margin-left: 16px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.person_banner {
    width: 60px;
    height: 80px;
    font-family: var(--font-family);
    color: var(--black);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.add_user {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(38px) translateY(46px);
    background-color: var(--background);
    background-image: url(images/add.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.person_user_image {
    width: 60px;
    height: 60px;
    margin-top: 8px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

    /*List of other users by id*/
    #Wouter {
        background-image: url(images/wouter.jpg);
    }

    #Lukas {
        background-image: url(images/lukas.jpg);
        /*die kan ik ni zomaar ergens rippen haha dus kunt gij da fixen, of moet ik iemand anders pakken*/
        background-color: var(--red);
    }

    #Tjerk {
        background-image: url(images/tjerk.jpg);
    }

    #Tibo {
        background-image: url(images/tibo.jpg);
    }

#load_more_people {
    background-image: url(images/load_more.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    width: 20px;
    height: 80px;
    position: absolute;
    right: 0;
    margin-top: 38px;
}

/*Borderdivider for inbetween contentboxes*/
.border_divider {
    width: 160px;
    height: 16px;
    border-bottom: 3px solid var(--black);
}

/*scanneroption buttons*/
.scanner_options {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter {
    width: 40px;
    height: 40px;
    background-image: url(images/filter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: var(--background);
    border-radius: 50%;
    margin-left: 16px;
}

#search {
    width: 40px;
    height: 40px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: var(--background);
    border-radius: 50%;
    margin-right: 16px;
}

/*Bottom Nav*/
.bottom_nav {
    position: absolute;
    bottom: 0px;
    width: 390px;
    height: 80px;
    color: var(--olive-green);
    background-color: var(--green);
    border-radius: 0 0 15px 15px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_nav a {
    color: var(--olive-green);
}

#navbtn1, #navbtn2 {
    width: 145px;
    display: flex;
    justify-content: space-evenly;
}

#scan {
    position: relative;
    bottom: 20px;
    width: 100px;
    height: 100px;
    background-color: var(--green);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scan a {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--olive-green);
    background-image: url(images/scan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

#profile_icon {
    height: 30px;
    margin-bottom: 5px;
    background-image: url(images/profile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

#new_project_icon {
    height: 30px;
    margin-bottom: 5px;
    background-image: url(images/newproject.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

#community_icon {
    height: 30px;
    margin-bottom: 5px;
    background-image: url(images/community.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

#settings_icon {
    height: 30px;
    margin-bottom: 5px;
    background-image: url(images/settings.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

/*Scanner Nav*/
.scanner_nav {
    position: absolute;
    bottom: 0px;
    width: 390px;
    height: 90px;
    background-color: var(--black);
    border-radius: 0 0 15px 15px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scanner_button {
    position: relative;
    bottom: 20px;
    width: 120px;
    height: 120px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scanner_button a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: var(--black);
    text-decoration: none;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

#scanner_button a:visited {
    color: var(--black);
}